#Stress Test
alias stress="yes > /dev/null & yes > /dev/null & yes > /dev/null & yes > /dev/null &"
alias stop="killall yes"


#Git
alias gs="git status"
alias gl="git log"
alias gpom="git pull origin master"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"
alias gps="git push"
alias gpl="git pull"
alias gd="git diff"
alias gf="git fetch"
alias gclb="git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"

#Javscript Build
alias js-reset="rm -rf node_modules/ && npm i && js dev && js hot:ops"
alias js-hot="npm run hot:ops"
alias js-watch="npm run watch"
alias tw="js test:watch"

#Jekyll
alias jserve="bundle exec jekyll serve"

#Directories
alias c="cd ~/code"
alias jan="cd ~/code/jerrikneri"
alias slive="cd ~/code/sendlane/sendlane"
alias secom="cd ~/code/sendlane/sendlane-ecom"
alias la="ls -al"
alias sb-j="cd ~/code/sandbox/jeopardy"



#Config
alias refrash="zsrc && vsrc"
alias zsrc="source ~/.zshrc"
alias vsrc="source ~/.vimrc"
alias cfg="cd ~/Config"
alias zfig="vim ~/.zshrc"
alias vfig="vim ~/.vimrc"


#Keyboard
alias qmk="cd ~/Keyboard/QMK"



#SSH
alias sshme="ssh $JAN"
alias slvpn="ssh jerrikneri@$SL_IP"
alias sldev="ssh sendlane@$SL_DEV"
alias slprod="ssh targetly@$SL_PROD"
alias slecom="ssh ecom@$SL_ECOM"
alias sltrack="ssh targetly@$SL_TRACK"
alias sljump="ssh jump@jump.sendlane.io"

#Laravel
alias art="php artisan"
alias ci="composer install"
alias cu="composer update"
alias cda="composer dumpautoload"
alias migrate-main="php artisan migrate --path=database/migrations/main"
alias migrate-test="DB_DATABASE=test migrate-main"
alias migrate-deliverability="php artisan migrate --database=deliverability --path=database/migrations/deliverability"
alias route="php artisan route:list | grep "
alias tinker="php artisan tinker"

#PHPUnit
alias pucc="phpunit --coverage-html ./public/coverage"

#Docker
alias docker-format="docker ps --format $FORMAT"


#Supervisor
alias supervisor-path="/Users/jerrikneri/code/supervisor/supervisord.conf"
alias svd="supervisord -c /usr/local/etc/supervisor.d/supervisord.conf"
alias svc="supervisorctl -c /usr/local/etc/supervisor.d/supervisord.conf"
