#Git
alias gs="git status"
alias gl="git log"
alias gpom="git pull origin master"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"
alias gco="git checkout"
alias gps="git push"
alias gpl="git pull"
alias gd="git diff"
alias gf="git fetch"
#Sendlane-Git
alias gcom="git checkout master"
alias gcfe="git checkout frontend"


#Directories
alias code="cd ~/code"
alias jan="cd ~/code/jerrikneri"
alias sl="cd ~/code/sendlane"
alias slive="cd ~/code/sendlane/sendlane"
alias la="ls -al"


#Config
alias refrash="zsrc && vsrc"
alias zsrc="source ~/.zshrc"
alias vsrc="source ~/.vimrc"
alias cfg="cd ~/Config"
alias zfig="vim ~/.zshrc"
alias vfig="vim ~/.vimrc"


#Keyboard
alias planck="cd ~/Keyboard/QMK/keyboards/planck/keymaps/planck-grid-JERRIK"
alias nyquist="cd ~/Keyboard/QMK/keyboards/nyquist/keymaps/nyquist-grid-JERRIK"
alias letssplit="cd ~/Keyboard/QMK/keyboards/lets_split/keymaps/letssplit-grid-JERRIK"
alias qmk="cd ~/Keyboard/QMK"
alias build-p="make planck/rev3:planck-grid-JERRIK:dfu"
alias build-n="make nyquist/rev2:nyquist-grid-JERRIK:dfu"
alias build-l="make lets_split/rev2:letssplit-grid-JERRIK:dfu"
alias planck-build="qmk && build-p"
alias nyquist-build="qmk && build-n"
alias letssplit-build="qmk && build-l"


#SSH
alias sshme="ssh $JAN"
alias slvpn="ssh jerrikneri@$SL_IP"


#Laravel
alias ci="composer install"
alias cu="composer update"
alias migrate-main="php artisan migrate --path=database/migrations/main"
alias migrate-tenant="php artisan migrate:tenants --tenantdb=_user"
alias route="php artisan route:list | grep "
