#Directories
sl() {
	cd ~/code/sendlane/$1
}

#Docker
dit() {
  docker exec -it $1 bash
}

#Git
gcho() {
  git checkout $1
}

#Javascript Build
js() {
  npm run $1
}

iw() {
  if [ -z "$1" ]
  then
    npm i && npm run watch
  else
    npm i && build=$1 npm run watch
  fi
}

id() {
  if [ -z "$1" ]
  then
    npm i && npm run dev
  else
    npm i && build=$1 npm run dev
  fi
}

#Keyboard
build() {
	 qmk && make $1/$2:$1-grid-JERRIK:dfu
}
kb() {
   if [ $1 = "hhkb" ]; then
    qmk && cd keyboards/$1/keymaps/$1-JERRIK
   else
	  cd ~/Keyboard/QMK/keyboards/$1/keymaps/$1-grid-JERRIK
   fi
}

#Laravel
ca() {
  art cache:clear && art config:clear && cda
 }

migrate-tenant() {
  if [ -z "$1" ]
  then
    echo "Tenant DB name required."
  else
    php artisan migrate:tenants --tenantdb=$1
  fi
}

m-sl() {
  migrate-main && migrate-test && art migrate:tenants && migrate-deliverability
}

pu() {
  if [ -z "$1" ]
  then
    phpunit
  else
    phpunit --filter $1
  fi
}

pud() {
  if [ -z "$1" ]
  then
    bash ./jenkins_test.sh vendor/bin/codecept run tests/unit/Fashionphile/Admin --fail-fast
  else
    bash ./jenkins_test.sh vendor/bin/codecept run tests/unit/Fashionphile/$1 --fail-fast
  fi
}


#SSH
sshslj() {
  if [ -z "$1" ]
  then
    ssh $SLJUMP
  else
    ssh -At $SLJUMP "ssh -At $1"
  fi
}

